<ion-content>
  <div class="form">
    <div class="img">
      <img src="https://haytek.com.br/assets/images/logo-shrink.png" alt="">
    </div>
    <h3 style="margin-top: 40px;margin-bottom: 30px;">Faça seu login.</h3>
    <ion-label>Email</ion-label>
    <ion-input class="input" type="text"></ion-input>
    <ion-label>Senha</ion-label>
    <ion-input class="input" type="password"></ion-input>
    <h6 (click)="changeVisibilityPass()">{{showPass ? 'Esconder senha' : 'Mostrar  senha'}}</h6>
    <ion-button expand="block">
      Logar
    </ion-button>
  </div>
</ion-content>
